.projectClass{
    position: relative;
    top: 1em;
    width: 47em;
    height: 100%;
}

.projOneClass{
    position: relative;
    position: relative;
    height: 57.5em;
}

.projTwoClass{
    position: relative;
    height: 47em;
}

#projectId{
    color: rgb(42, 78, 7);
    font-size: 4em;
    position: relative;
    margin-top: 15px;
    margin-bottom: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fordImgSliderId, .IvtlImgSliderId{
    width: 600px;
    height: 300px;
    text-align:center;
    margin:0; 
    padding:0;
}

#projDetails, #projDescription{
    position: relative;
}

#projOneTitle{
    color: rgb(126, 47, 11);
    font-style: italic;
    margin-bottom: 0px;
    height: 36px;
    width: 9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

#projOneDesc, #projOneDB, #projOneServer, #projOneTech, #projRespHead {
    color: rgb(126, 47, 11);
    font-style: italic;
    margin-bottom: 0px;
    height: 36px;
    width: 12em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

#projNameOne, #projNameTwo, #projDescOne, #projDescTwo, #projectDBPara, #projectServerPara, #projectTechPara,
#projRespOne, #projRespTwo, #projRespThree, #projRespFour, #projDetail, #proj2DescOne, #proj2DescTwo, #project2DBPara, 
#project2TechPara, #proj2RespOne, #proj2RespTwo, #proj2RespThree{
    color: rgb(42, 78, 7);
    font-style: italic;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#projectDBPara, #projectServerPara, #projectTechPara, #project2DBPara, #project2TechPara, #projDetail{
    left: 2.5em;
    position: relative;
}

#projRespHead, #projResp{
    top: 1em;
    position: relative;
}