<div class="contactClass">
    <div class="contactMain">
         <h1 id="contactId">CONTACT</h1>
         <hr>
         <p>Looking forward to answering your email</p>
         <div id="contactFlex">
         <form class="contactForm" (ngSubmit)="userSubmit()">
            <mat-form-field class="nameFromField">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Your Name" name="name" [(ngModel)]="users.name">
            </mat-form-field>
            <br>
            <mat-form-field class="emailFormField">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. kevin@example.com"
                [(ngModel)]="users.emailId" name="email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="phoneFormField">
                <mat-label>Phone</mat-label>
                <input (keypress)="numberOnly($event)" matInput placeholder="Your Phone Number" maxlength="10" onkeypress="false"
                [(ngModel)]="users.phoneNum" name="phone">
            </mat-form-field>
            <br>
            <mat-form-field class="skypeFormField">
                <mat-label>Skype</mat-label>
                <input matInput placeholder="Your Skype Id if any meeting setup" [(ngModel)]="users.skypeId" name="skype">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>If any brief needed</mat-label>
                <textarea matInput [(ngModel)]="users.briefId" name="brief"></textarea>
            </mat-form-field>
            <br>
            <button id="submitButton" mat-raised-button color="primary">Submit</button>
          </form>
          <div id="imageFlex">
              <a href="mailto:prasanth10.official@gmail.com" target="_blank">
                <img src="/assets/mail.png" alt="M" class="mailLink">
              </a>
            <br>
            <a target="_blank">
              <img src="/assets/phone-contact.png" alt="P" class="phoneLink">
            </a>
            <br>
            <a href="https://www.linkedin.com/in/10prasanths/" target="_blank">
              <img src="/assets/linkedin.png" alt="L" class="linkedInLink">
            </a>
            <br>
            <a href="https://www.instagram.com/prasselv/" target="_blank">
              <img src="/assets/instagram.png" alt="I" class="instagramLink">
            </a>
          </div>
         </div>
    </div>
</div>