#contactId{
    color: rgb(42, 78, 7);
    font-size: 4em;
    position: relative;
    margin-top: 15px;
    margin-bottom: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4, p {
    color: rgb(42, 78, 7);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactClass{
    top: 1em;
    width: 69%;
}

.contactForm{
    width: 28em;
}

mat-form-field{
    width: 100%;

}

#submitButton{
    background-color: #265222;
    left: 21em;
    width: 11em;
    bottom: 10px;
}