<div id="documentId">
   <div class="documentClass">
       <form class="documentForm">

         <h1>{{name}}</h1>
          <div id="rowOne">
          <h4>{{designation}}</h4>
          <label class="homeId" [style.color]="homeId ? 'rgb(56, 174, 221)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="homeMouseOver()" (mouseleave)="homeId=false">Home</label>
          
          <label class="resId" [style.color]="resId ? 'rgb(56, 174, 221)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="resMouseOver()" (mouseleave)="resId=false">Resume</label>

          <label class="projId" [style.color]="projId ? 'rgb(56, 174, 221)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="projMouseOver()" (mouseleave)="projId=false">Projects</label>
          
          <label class="contId" [style.color]="contId ? 'rgb(56, 174, 221)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="contMouseOver()" (mouseleave)="contId=false">contact</label>
         </div>
         <div id="rowTwo">
            <img src="/assets/Prasanth_1.jpg" alt="PS" class="avatar">
            <h1 id="homeSubjectOne">Hello, <br><span style="font-size:xx-large;margin-left: 2px;">a bit about me:</span></h1>
              <div id="rwoThree">
                 <div class="resumeClass"><a id="resumeLink">MY RESUME</a></div>
                 <div class="workClass"><a id="workLink">MY WORK</a></div>
                 <div class="skillClass"><a id="skillsLink">MY SKILLS</a></div>
               </div>
         </div>

       </form>
   </div>
</div>

