<div id="documentId">
   <div class="documentClass">
       <form class="documentForm">

         <h1>{{name}}</h1>
          <div id="rowOne">
          <h4>{{designation}}</h4>
          <label class="homeId" [style.color]="homeId ? 'rgb(42, 78, 7)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="homeMouseOver()" (mouseleave)="homeId=false" (click)="homeClick()" routerLink="/home">Home</label>
          
          <label class="resId" [style.color]="resId ? 'rgb(42, 78, 7)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="resMouseOver()" (mouseleave)="resId=false" (click)="resClick()" routerLink="/resume">Resume</label>

          <label class="projId" [style.color]="projId ? 'rgb(42, 78, 7)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="projMouseOver()" (mouseleave)="projId=false" (click)="projClick()" routerLink="/projects">Projects</label>

          <label class="skillsId" [style.color]="skillsId ? 'rgb(42, 78, 7)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="skillsMouseOver()" (mouseleave)="skillsId=false" (click)="skillsClick()" routerLink="/skills">Skills</label>
          
          <label class="contId" [style.color]="contId ? 'rgb(42, 78, 7)' : 'rgba(100, 62, 18, 0.788)'"
          (mouseenter)="contMouseOver()" (mouseleave)="contId=false" (click)="contClick()" routerLink="/contact">contact</label>
          
          <div class="triangle-down" [style.left]="leftPosition"></div>
         </div>

         <router-outlet></router-outlet>
       </form>
   </div>
</div>

<footer id="contactFooter">

  <div class="mailClass">
    <img src="/assets/icons8-mail-50.png" alt="mail" class="mailAvatar">
    <div class="mailDiv">
      <span class="mailLabel">Mail</span><br>
      <span class="mailPara">{{mailInfo}}</span>
    </div>
  </div>

  <div class="callClass">
    <img src="/assets/icons8-phone-64.png" alt="call" class="callAvatar">
    <div class="callDiv">
      <span class="callLabel">Call</span><br>
      <span class="callPara">{{callInfo}}</span>
    </div>
  </div>

  <div class="socialClass">
    <img src="/assets/icons8-plus-50.png" alt="social" class="socialAvatar">
    <div class="socialDiv">
      <span class="socialLabel">Follow me</span><br>
      <img src="/assets/icons8-linkedin-50.png" alt="social" class="linkedinImage">
      <img src="/assets/icons8-instagram-50.png" alt="social" class="InstaImage">
    </div>
  </div>

</footer>
