h1, h4 {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(136, 109, 49);
}

h1{ 
    font-size: 35px;
    margin: 1px;
    color: rgb(42, 78, 7);
}

h4{
   padding-right: 5em;    
}

#rowOne{
    display:flex;
}

#documentId{
    width: 85%;
    height: 66%;
    position: relative;
}

.documentClass, .documentForm{
    width: 100%;
    height: 100%;
    position: relative;
}

#contactFooter{
    height: 100%;
    width: 100%;
    background-color: burlywood;
}

.homeId,.resId,.projId,.skillsId, .contId{
    opacity: 1;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin:23px;
    cursor: grab;
    color: rgba(100, 62, 18, 0.788);
} 

.homeId:hover, .resId:hover, .projId:hover,.skillsId:hover .contId:hover{
    opacity: 0.7;
}

.documentForm{
    padding-left: 14em;
    padding-top: 7px;
}

.triangle-down {
    position: absolute;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 22px solid rgb(42, 78, 7);
    top: 7em;
    left: 35.5em;
}

.callClass, .mailClass, .socialClass{
    display: flex;
}

.mailPara, .mailLabel, .mailAvatar, .mailDiv, .callPara, .callLabel, .callAvatar, .callDiv, .socialAvatar, 
.socialDiv, .socialLabel, .linkedinImage, .InstaImage{
    position: relative;
}

.mailClass{
    width: 20%;
    margin-left: 11em;
    margin-top: 12px;
    position: absolute;
}

.mailDiv{
    top: 10px;
}

.mailAvatar{
    top: 4px;
}

.callClass{
    width: 20%;
    margin: 10px;
    padding: 10px;
    margin-left: 36.5em;
    padding-left: 8em;
    position: absolute;
}

.callDiv{
    top: 2px;
    margin-left: 8px;
}

.callAvatar{
    top: 4px;
    height: 32px;
}

.socialClass{
    width: 20%;
    margin: 10px;
    padding: 10px;
    margin-left: 64em;
    padding-left: 8em;
    position: relative;
}

.socialAvatar{
    height: 60px;
    width: 66px;
    top: 5px;
    left: 5px;
}

.socialLabel{
    left: 7px;
}

.mailLabel, .mailPara, .callLabel, .callPara, .socialLabel{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(42, 78, 7);
    font-weight: 600;
} 


