<div class="resumeClass">
    <div class="resumeMain">
         <h1 id="resumeId">RESUME</h1>
         <hr>
         <div class="professionalInfoClass">
            <div id="profInfoId"><a id="profLink">Professional<br>Info</a></div>
            <p id="profInfoPara">{{professionalInfo}}</p>
         </div>
         <hr>
         <div class="workExpClass">
            <div id="workExpAva">
               <div id="workExpId"><a id="workExLink">Work<br>Experience</a></div>
            </div>
            <div id="workExpBody">
               <h2 id="designation">{{designation}}</h2>
               <h3 id="yearOfExp">{{year}}</h3>
               <p id="presentComp">{{presentCompany}}</p>
               <br>
               <br>
               <h2 id="prevDesig">{{prevDesig}}</h2>
               <h3 id="prevYoe">{{prevYoe}}</h3>
               <p id="prevComp">{{prevComp}}</p>
            </div>
          </div>     
         <hr>
          <div class="educationClass">
               <div id="educationId"><a id="educationLink">Education</a></div>
               <p id="educationPara">{{educationPara}}</p>
          </div>
    </div>
    <div class="resumeSkills">
         
    </div>
</div>